################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WpfApp20180613002/.vs/WpfApp20180613002/v15/.suo
