################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WpfApp20180613002/.vs/WpfApp20180613002/v15/.suo
/WpfApp20180613002/.vs/WpfApp20180613002/v15/Server/sqlite3/db.lock
/WpfApp20180613002/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/WpfApp20180613002/.vs/WpfApp20180613002/v15/Server/sqlite3/storage.ide-wal
/WpfApp20180613002/.vs/WpfApp20180613002/v15/Server/sqlite3/storage.ide
/WpfApp20180613002/.vs/WpfApp20180613002/v15/Server/sqlite3/storage.ide-shm
